site_name: "Bruinbots #13599 | FTC"
site_url: https://bruinbots.github.io/
plugins:
  - search
  - autolinks
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
      manual: false
markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.tilde
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: false
      linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.keys
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
extra:
  # analytics:
  #   provider: google
  #   property: G-... # TODO
  social:
    - icon: octicons/mail-16
      link: mailto:bruinbotsftc@gmail.com
      name: Email
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/bruinbots.13599/
      name: Instagram
    - icon: fontawesome/brands/github
      link: https://github.com/Bruinbots
      name: GitHub
  status:
    new: Recently added
    updated: Recently updated
    deprecated: Deprecated
theme:
  language: en
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
      - navigation.indexes
      - navigation.tabs
      - navigation.tabs.sticky
      - navigation.footer
      - navigation.expand
      - navigation.instant
      - navigation.top
      - navigation.sections
      - navigation.instant
      - navigation.instant.prefetch
      - search.suggest
      - search.highlight
      - search.share
      - content.tooltips
      - content.code.copy
      - content.tabs.link
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
nav:
  - Home: index.md
  - About Us: about.md
  - Gallery: 
    - gallery/index.md
    - Prototyping: gallery/prototyping.md
  - Get Started with FTC: https://www.firstinspires.org/programs/ftc/
  - Outreach: outreach.md